.menu-item span {
  transition: 0.3s;
}

.menu-item .up {
  transform: rotate(60deg);
}

.menu-item a {
  display: block;
}

.sidebar-item {
  padding: 6px 14px;
}

.sidebar-item a {
  display: block;
  width: 100%;
}
