html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

li button,
li a {
  color: #fff !important;
}

.modal-block {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.7s; /* TODO: разобрать, почему не рабоатет transition и добавить анимации */
}

.sidebar {
  overflow: auto;
  min-width: 300px;
  padding: 20px;
}

.sidebar-item {
  padding: 6px 14px;
}

.sidebar-item a {
  display: block;
  width: 100%;
}

.content {
  padding: 40px;
}
